 body {
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  width: 1450px;
  margin: 0px auto;
}

.bloque1 {
  display: inline-flex;
  width: 1450px;
}

.bloque2 {
  display: inline-flex;
  width: 1450px;
  margin-top: 100px;
}

.luciteCuero {
  margin: 0px;
  height: 400px;
  width: 725px;
  padding: 250px;
  font-size: xx-large;
}

.nuevaTemp {
  margin: 0px;
  height: 400px;
  width: 725px;
  padding: 250px;
  font-size: xx-large;
}

.listnav {
  list-style: none;
  padding-left: 0;
}

nav {
  display: inline-block;
  margin: 0 0 0 200px;
}

.navbar {
  display: inline-block;
  margin: 20px;
  font-size: larger;
  padding: 0 25px 0 25px;
}

.logoTuet {
  vertical-align: middle;
  margin: 40px;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.webfooter {
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
}

#divsticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 2rem;
}

footer {
  background: grey;
  color: white;
  margin-top: 100px;

}

footer p {
  text-align: center;
}

#content2 {
  width: 1450px;
  justify-content: center;
}

.historia {
  width: 1450px auto;
  justify-content: center;
  padding: 100px 500px 100px 600px;
  font-size: xx-large;
}

.materialescss {
  width: 1450px auto;
  justify-content: center;
  padding: 100px 500px 0 600px;
  font-size: xx-large;
}

#content3 {
  width: 1450px;
  justify-content: center;
}

#tablaProductos {
  width: 1450px;
  justify-content: center;
  padding: 200px 0 0 100px;
}

.instaPost {
  width: 545px;
  justify-content: center;
  padding: 200px 0 0 250px;
}

.imagenHistoria {
  padding: 0 0 0 250px;
}

.fotoMaterial {
  padding: 100px 0 100px 250px;
}

.contentHistoria {
  width: 1450px;
  justify-content: center;
  text-align: center;
  padding: 100px 0 100px 0px;
}

.contentMateriales {
  width: 1450px;
  justify-content: center;
  text-align: center;
  padding: 100px 0 100px 0px;
}

.formulario {
  width: 1450px auto;
  justify-content: center;
  padding: 100px 100px 200px 700px;
  font-size: xx-large;
}

.videoShow {
  padding: 0 0 0 400px;
}

.grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

figure {
  width: 400px
}

figure img {
  width: 300px
}